name: Run ESLint on Pull Requests

on:
  - pull_request

jobs:
  eslint:
    name: Run ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node_version: '14.17.0'

      - name: Run CI
        run: |
          yarn install
          yarn linter
          yarn build
